# База данных
POSTGRES_USER="name"
POSTGRES_PASSWORD="password"
POSTGRES_DB="name_db"
POSTGRES_HOST="NAME_HOST"
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@name_db:5432/NAME_HOST # отредактировать